* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f3f3f3;
  font-family: "font-1", sans-serif;
}

li {
  list-style-type: none;
}

textarea {
  resize: none;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  margin: 30px auto;
}

.navigation ul a {
  text-decoration: none;
  padding: 10px;
}

.navigation ul a li {
  color: #61dafb;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.navigation ul a li:hover {
  color: #282c34;
}

.navigation ul .active {
  position: relative;
}

.navigation ul .active::after {
  content: "";
  height: 4px;
  width: 0;
  background: #61dafb;
  position: absolute;
  border-radius: 10px;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: anim 0.3s ease forwards;
  animation: anim 1s ease forwards;
}

@-webkit-keyframes anim {
  to {
    width: 100%;
  }
}

@keyframes anim {
  to {
    width: 100%;
  }
}

.card {
  height: 100px;
  position: relative;
  margin: 1px;
  -webkit-box-shadow: 0 0 2px rgba(51, 51, 51, 0.25);
          box-shadow: 0 0 2px rgba(51, 51, 51, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 4px;
}

.card:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  z-index: 2;
}

.card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100px;
  width: 160px;
}

.card .data-container {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card .data-container:hover {
  opacity: 1;
}

.card .data-container:hover ul {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.card .data-container ul {
  color: salmon;
  padding-top: 5px;
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleY(0.3);
          transform: scaleY(0.3);
  z-index: 20;
}

.card .data-container ul:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.02s;
  transition: 0.02s;
}

.card .data-container ul:hover::after {
  background: rgba(0, 0, 0, 0.65);
}

.card .data-container li {
  font-size: 0.8rem;
  z-index: 30;
}

.card .data-container li:nth-child(1) {
  font-weight: bold;
  color: #61dafb;
}

.countries .sort-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  padding: 8px;
  border-radius: 15px;
  background: #282c34;
  color: #61dafb;
  -webkit-box-shadow: 0 2px 2px rgba(51, 51, 51, 0.3);
          box-shadow: 0 2px 2px rgba(51, 51, 51, 0.3);
}

.countries .sort-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.countries .sort-container ul input[type="radio"] {
  -webkit-transform: translate(-5px, 1px);
          transform: translate(-5px, 1px);
}

.countries .cancel {
  margin: 20px auto 30px;
  width: 100%;
}

.countries .cancel h5 {
  border: 1px #282c34 solid;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.countries .cancel h5:hover {
  background: #61dafb;
  border-color: #61dafb;
}

.countries .countries-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=index.css.map */